@font-face {
  font-family: 'Manrope';
  src: url('./Manrope.ttf');
}
* {
  box-sizing: border-box;
}
body {
  padding: 14px 24px;
}
.all {
  display: grid;
  grid-template-areas:
    'wrapper'
    'image';
}
.wrapper {
  grid-area: wrapper;
  background-color: #ebf0fa;
  border-radius: 10px 10px 0px 0px;
  font-family: Manrope, sans-serif;
  padding: 24px 24px 18px 24px;
}
.main-head {
  color: #1f4284;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 14px;
}
.content {
  color: #727272;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 18px;
  margin-bottom: 18px;
}
menu {
  padding: 0px;
}
.button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 279px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 18px;
  background-color: #244c98;
  border-radius: 60px;
}
.button:hover {
  background: #1d49aa;
  cursor: pointer;
}
.button > p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.button > img {
  width: 36px;
  height: 36px;
}
.image {
  grid-area: image;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
dialog {
  width: 500px;
  height: 575px;
  border: none;
  background-color: #f0f4fc;
  padding: 24px;
  font-family: 'Manrope';
}
.exit {
  text-align: right;
  margin-bottom: 0px;
}
#exit {
  border: none;
  outline: none;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url('./frame1723.svg');
  background-size: cover;
  border-radius: 10px;
}
#exit:hover {
  opacity: 0.6;
  cursor: pointer;
}
.enterText {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 18px;
  margin-top: 0px;
}
#email {
  display: block;
  width: 100%;
  height: 73px;
  padding: 24px;
  color: #212529;
  background-color: #d7e2f6;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  font-size: 18px;
  font-weight: 500;
  color: #1f4284;
  margin-bottom: 4px;
}
#password {
  display: block;
  width: 100%;
  height: 73px;
  padding: 24px;
  color: #212529;
  background-color: #d7e2f6;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  font-size: 18px;
  font-weight: 500;
  color: #1f4284;
  margin-bottom: 24px;
}
input[type='text']::-webkit-input-placeholder {
  color: #1f4284;
}
input[type='text']::-moz-placeholder {
  color: #1f4284;
}
.remember {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 24px;
}
.remember > input {
  margin: 0px 14px 0px 0px;
}
.remember > input:hover {
  cursor: pointer;
}
.remember > p {
  margin: 0px;
}
.restore {
  margin-bottom: 36px;
}
.restore > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #244c98;
}
.restore > a:hover {
  opacity: 0.6;
}
#enter {
  border: none;
  outline: none;
  margin-bottom: 4px;
  width: 100%;
  height: 65px;
  background-color: #244c98;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
#enter:hover {
  cursor: pointer;
  opacity: 0.7;
}
#register {
  border: none;
  outline: none;
  width: 100%;
  height: 65px;
  background-color: #f0f4fc;
  color: #244c98;
  border: 1px solid #244c98;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
#register:hover {
  background: #e1e2e5;
  color: #244c98;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  body {
    padding: 24px;
  }
  .wrapper {
    padding: 24px;
  }
  .main-head {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .content {
    font-size: 15px;
    margin-bottom: 24px;
  }
  .button {
    width: 261px;
    height: 56px;
    margin-left: 0px;
  }
  .button > p {
    font-size: 15px;
    margin: 0px;
  }
}
@media (min-width: 1440px) {
  body {
    padding: 36px 40px;
  }
  .all {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'wrapper image';
  }
  .wrapper {
    padding: 105px 72px;
    border-radius: 10px 0px 0px 10px;
  }
  .main-head {
    font-size: 26px;
    margin-bottom: 18px;
  }
  .content {
    font-size: 17px;
    margin-bottom: 36px;
  }
  .button {
    width: 341px;
    height: 68px;
  }
  .button > p {
    font-size: 18px;
  }
  .image {
    border-radius: 0px 10px 10px 0px;
    height: 100%;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding: 102px 72px;
  }
  .main-head {
    font-size: 30px;
  }
}
